<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="./css/login.css">
</head>
<body>
    <h1>Вход</h1>
    <form method="POST" action="/login" >
        <label for="email">Email:</label>
        <input type="email" name="email" required>
        <br>
            <label for="password">Пароль:</label>
            <input type="password" name="password" required>
        </br>
        <button type="submit">Войти</button>
    </form>    
</body>
</html>